.Pagination {
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 20px;

   .Previous{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #f1f1f1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    
    &:hover{
        background: #b9b7b7;
        text-decoration: none;
    }
   }

   .Next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #4CAF50;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;

    &:hover{
        background: #3b8a3e !important;
        text-decoration: none;
    } 
   }

   .Back{
    border-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #f1f1f1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
   }

   .PaginationButton{
    background-color: #f1f1f1;
    color: black;
    padding: 10.5px 16px;
    margin-top: 15px;
    border: none;
    outline: none;

    &:hover{
        background: #b9b7b7;
        text-decoration: none;
    }

    &.activePage{
        background-color: #e5675c;
    }
   }
}